---
import { Image } from "@astrojs/image/components";
import Logo from "../assets/logo.png";
import "../styles/global.css"

const organization = "Margarine Dev";
---

<html class="h-full" lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Coming Soon | {organization}</title>
  </head>
  <body
    class="h-full flex flex-col justify-center items-center bg-slate-400 dark:bg-slate-800 dark:text-white"
  >
    <Image
      class="mt-auto"
      src={Logo}
      width={200}
      height={200}
      alt={`${organization} Logo`}
    />
    <h1 class="mt-4 text-4xl font-inter">Coming Soon...</h1>
    <a
      href="https://github.com/MargarineDev"
      target="_blank"
      class="mt-auto mb-5 text-xl underline font-inter hover:text-amber-500"
      >{organization}</a
    >
  </body>
</html>
